body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: #cbe8ec;
    color: #333;
    margin: 1.25rem;
}

h1 {
    font-size: 2rem;
    color: #1e90ff;
}

h2 {
    font-size: 1.5rem;
    color: #228b22;
}

h3 {
    font-size: 1.3125rem;
    color: #ff6347;
}

p {
    font-size: 1.125rem;
    color: #666;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #8a2be2;
    text-decoration: underline;
}

a:active {
    color: #b22222;
}

a:visited {
    color: #663366;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0.625rem;
    border: 1px solid #ddd;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-container,
.course-container {
    width: 100%;
    margin-bottom: 1.25rem;
}

.info-block {
    width: 100%;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
}

#myImage {
    width: 100px;
    float: right;
    margin-left: 0.625rem;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a,
.navbar li button {
    display: block;
    padding: 0.625rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem; /* Ensure buttons and links adjust with font size changes */
}

.navbar li a:hover,
.navbar li button:hover {
    background-color: #c45555;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #f8f8f8;
    border-radius: 0.3125rem;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1rem; /* Adjust font size for inputs and textarea */
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"],
button[type="reset"] {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #3366cc;
    color: #fff;
    cursor: pointer;
    font-size: 1rem; /* Adjust button text size responsively */
}

button[type="reset"] {
    background-color: #ff3300;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #003366;
}

input:invalid {
    border-color: #ff0000;
}

input:valid {
    border-color: #00cc00;
}

.colorblind-mode {
    background-color: #FDFDFD;
}

.colorblind-mode,
.colorblind-mode h1,
.colorblind-mode h2,
.colorblind-mode h3,
.colorblind-mode p,
.colorblind-mode a,
.colorblind-mode label {
    color: #474747;
}

.colorblind-mode a:hover {
    color: #8a2be2;
}

.colorblind-mode a:active {
    color: #b22222;
}

.colorblind-mode a:visited {
    color: #663366;
}

.colorblind-mode .navbar li a {
    color: #333;
}

.colorblind-mode .navbar li a:hover {
    background-color: #c45555;
}

.colorblind-mode button[type="submit"],
.colorblind-mode button[type="reset"],
.colorblind-mode .navbar li button {
    background-color: #FDFDFD;
    color: #000000;
}

.colorblind-mode button[type="submit"]:hover,
.colorblind-mode button[type="reset"]:hover {
    background-color: #474747;
}

.navbar li button {
    background: none;
    border: none;
    color: #333;
    padding: 0.625rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-family: Arial, sans-serif;
}

.navbar li button:hover {
    background-color: #575757;
}